* {
    font-family: 'Raleway', sans-serif;
}
.card {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.card img {
  max-width: 100%;
  width: 150px;
  margin-right: 20px;
}

.card-content {
  flex: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.parentdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
